[Dd]ebug/
[Dd]ebugPS/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bsearch/
bin/
obj/
.vs/
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

secrets.json
compositefontcache.data
*.ToolsOnAir.json

.dotnet/
*.chromestatus
*.ilk
*.aps
*.plugin.js

node_modules/
/dist
/dist-ssr
/build
/.svelte-kit
/.next
/.nuxt
.vuepress/dist
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

Thumbs.db
Desktop.ini
.DS_Store
*.sublime-workspace
*.sublime-project